# Deep Learning & Computer Vision
tensorflow
keras
opencv-python

# Data Manipulation & Visualization
numpy
pandas
matplotlib
seaborn
scikit-learn

# Web Application & Serving
Flask
flask-cors
gunicorn

# MLOps & Tracking
mlflow
dagshub

# Utilities & Pipeline Configuration
pyYAML
ensure
python-box

# Testing & Quality Gates
pytest
tox

kaggle
python-dotenv

-e .
